<!DOCTYPE html>
<html>
  <head>
    <title>Practica 1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link href='https://bootswatch.com/4/lux/bootstrap.css' rel='stylesheet' />
    <!-- Custom styles for this template -->
    <link href='https://bootswatch.com/4/minty/bootstrap.min.css' rel='stylesheet' />
  </head>
  <body class="cuerpo">
    <main role="main" class="container">
      <div class="jumbotron">
        <h1 class="display-3">Practica # 1</h1>
        <p class="lead">Software Avanzado Vacaciones Diciembre 2020 </p>
        <hr class="my-4">
        <p>Jennifer Lorena Rodriguez Lopez   <strong>2007-14174</strong></p>
      </div>
      
    </main><!-- /.container -->
    <script>
      console.log('imprimier en consola');
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src='/bootstrap/js/bootstrap.bundle.min.js'></script>
  </body>
</html>
